.workslist-container {
  min-height: 100vh;
  background-color: #2d5f99;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h2 {
    padding-top: 4em;
  }

  .list {
    width: 95%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;


    .list__item {
      background-color: #203647;
      transition-duration: 300ms;
      margin-top: 1.5em;
      box-shadow: 0px 2px 1px -1px rgba(0,0,0,0.2),0px 1px 1px 0px rgba(0,0,0,0.14),0px 1px 3px 0px rgba(0,0,0,0.12);
      border-radius: 8px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      h3 {
        font-weight: bold;
      }

      &:last-child {
        margin-bottom: 4em;
      }

      img {
        width: 100%;
        height: 250px;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
      }

      .list__item__description {
        h3 {
          padding: 1em 0 0 1em;
        }
      }

      a {
        text-decoration: none;
        text-transform: uppercase;
        margin: 1em;
        padding: 0.3em 0.5em;
        color: #58b4ee;
        align-self: flex-start;

        &:visited {
          color: #58b4ee;
        }
        &:hover {
          cursor: pointer;
          background-color: #244a5f;
        }
      }
    }
  }
}

.project-description {
  background-color: #12232E;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: space-around;

  img {
    width: 350px;
  }

  h1 {
    font-size: 1.5em;
    margin: 1em 0;
  }

  p {
    padding: 0;
  }

  p, ul {
    font-size: 1em;
  }

  a {
    color: #EEFBFB;;
    text-decoration: none;
    cursor: pointer;
    &:visited {
      color: inherit;
    }
  }

  ul {
    border: #4DA8DA 1px solid;
    margin: 1em 0;

  }

  .project-link {
    border-bottom: #4DA8DA 1px solid;
    padding: 0.5em;
    margin-right: 0.5em;
    &:hover {
      opacity: 0.5;
    }
  }

  .home-link {
      background-color: #4DA8DA;
      border-radius: 20px;
      padding: 0.5em 1em;
      opacity: 0.7;
      transition-duration: 300ms;
      &:hover {
        transform: scale(1.1);
        opacity: 1;
      }
      margin: 1em;
  }
}

@media screen and (min-width: 600px) {
  
  .list__item {
    width: 350px;
    height: 400px;
    margin-left: 1em;

    img {
      // height: 250px;
    }
  }

  .project-description {
    img {
      width: 550px;
    }
  }
}